*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.registerMode .form-login{
  z-index: 1;
  opacity: 0;
}

.registerMode .form-register{
  z-index: 2;
  opacity: 1;
}

.registerPanelImg{
  pointer-events: none !important;
}

.registerPanelImg > div,
.registerPanelImg > img{
  transform: translateX(-800px);
}

.panelRight{
  pointer-events: all !important;
}

.panelRight > div,
.panelRight > img{
  transform: translateX(-20px) !important;
}

.formUp{
  left: 25% !important;
}